<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- ========================================= -->
    <!-- NOTA: LoginServlet usa @WebServlet -->
    <!-- ========================================= -->

    <!-- ========================================= -->
    <!-- ASISTENCIA -->
    <!-- AsistenciaServlet utiliza:
         - AsistenciaDAO
         - ConfiguracionAsistenciaDAO
         para validar límites de tiempo de edición
         y exponer atributos como:
         - puedeEditar
         - mensajeLimite
         usados en los JSP (modo solo lectura)
    -->
    <!-- ========================================= -->

    <servlet>
        <servlet-name>AsistenciaServlet</servlet-name>
        <servlet-class>controlador.AsistenciaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsistenciaServlet</servlet-name>
        <url-pattern>/AsistenciaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>controlador.AlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TareaServlet</servlet-name>
        <servlet-class>controlador.TareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TareaServlet</servlet-name>
        <url-pattern>/TareaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ObservacionServlet</servlet-name>
        <servlet-class>controlador.ObservacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObservacionServlet</servlet-name>
        <url-pattern>/ObservacionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NotasPadreServlet</servlet-name>
        <servlet-class>controlador.NotasPadreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotasPadreServlet</servlet-name>
        <url-pattern>/NotasPadreServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ObservacionesPadreServlet</servlet-name>
        <servlet-class>controlador.ObservacionesPadreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObservacionesPadreServlet</servlet-name>
        <url-pattern>/ObservacionesPadreServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TareasPadreServlet</servlet-name>
        <servlet-class>controlador.TareasPadreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TareasPadreServlet</servlet-name>
        <url-pattern>/TareasPadreServlet</url-pattern>
    </servlet-mapping>

    <!-- Filtro de Seguridad -->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>SecurityFilter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>